body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Roboto Slab", serif;
	font-weight: 300;
	color: #111;
	background: #edeff0;
	background-image: url("svg/background.svg");
}

#container {
	max-width: 960px;
	background: #fff;

	margin: 0 auto;
	height: 100%; /* new line */
}

p {
	max-width: 350px;
	margin: 35px auto 0;
	line-height: 2em;
	text-align: left;
}

a {
	text-decoration: none;
	color: #39add1;
	font-weight: 700;
}

header {
	padding-top: 10px;
}

header nav {
	padding-bottom: 50px;
	text-align: left;
}

header nav ul li {
	display: inline-block;
	margin-right: 20px;
}

main {
	padding-top: 50px;
}

main h2 {
	font-size: 28px;
}

footer {
	width: 100%;
	margin-top: 100px;
	padding-bottom: 30px;
	color: #ba8058;
}

/* Nav-Bar */
.nav-bar {
	display: flex;
	padding-top: 2em;
	margin-left: 4rem;
}

#icon {
	width: 15px;
	height: 15px;
	fill: #39add1;
}

.margin-left {
	margin-left: 20px;
}

.corgi {
	width: 150px;
	height: 150px;
	margin: 0 10px;
}

/* =================================
Icons Transform and Transition 
====================================*/

.icon-transition {
	transition: transform 0.4s ease-out;
	transform-origin: 50% 50%;
}

.nav-item:hover .icon-transition {
	transform: scale(0.8);
	fill: #111;
}

a:hover {
	color: #111;
}

/* =================================
Logo Transform and Transition 
====================================*/
#logo-text {
	display: none;
}

.logo {
	transition: transform 0.5s cubic-bezier(0.66, -0.68, 0.59, 1.23);
	transform-origin: 50% 50%;
}

.logo-container:hover .logo {
	transform: rotate(15deg) scale(1.1);
}

/* =================================
  Color Corgis 
==================================== */

.nose_and_eyes {
	fill: #2d3339;
}
.brows {
	fill: #da8058;
}
.white {
	fill: #fbfeff;
}

.muddy-waters {
	color: #b97f5b;
}
.tacao {
	color: #e9aa82;
}
.nutmeg {
	color: #834b29;
}
.abbey {
	color: #52595f;
}

/* =================================
  Transform Corgis 
==================================== */
.rotate {
	transition: transform 0.4s cubic-bezier(0.66, -0.68, 0.59, 1.23);
	transform-origin: 50% 50%;
}

.corgi:hover .rotate {
	transform: rotate(-13deg) scale(0.8);
}

/* =================================
  Media Queries min-width: 768px
==================================== */

@media (min-width: 425px) {
	#logo-text {
		display: block;
	}

	.logo {
		display: block;
		margin: 0 auto;
	}

	h1 {
		display: none;
	}

	.nav-bar div .margin-left {
		margin-left: 5px;
	}

	.nav-bar {
		display: flex;
		margin-left: 5em;
		padding-top: 2em;
	}

	.nav-bar {
		display: flex;
		margin-left: 5em;
		margin-bottom: 2em;
		padding-top: 2em;
	}

	.nav-bar div .margin-left {
		margin-left: 15px;
	}
}
